* {
	box-sizing:border-box;
	margin:0;
	padding:0;
}
body {
	color:#333;
	font-family: 'Arimo', sans-serif;
	font-size:16px;
}
section{
	border:2px solid black;
	margin:auto;
	padding:5em 0;
}
h1 {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}
blockquote {
	font-size:1.5em;
}
cite {
	font-size:.5em;
}
#splash {
	background-image: url("../images/IMG_9898.JPG");
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	background-attachment:fixed;
	/*height:100vh;*/
}
#splash img {
	display:block;
	margin:auto;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}	
/*	background-color: #000000;
	color: white;
	font-size
	font-style: helvetica;
	font-weight
	text-align: center;
	text-decoration
	text-transform
	line-height
	margin
	padding
	border  */
