body
h1
<style>
	div.img IMG_9898.JPG
	{
		margin: 0px;
		padding: 0px;
		width: 100%;
		height: auto;
		align: center;
	}

	#slogan
	
	background
	background-color: #000000;
	color: white;
	font-size
	font-style: helvetica;
	font-weight
	text-align
	text-decoration
	text-transform
	line-height
	margin
	padding
	border